<!--Permite visaluzar la peliculas favoritas y eleminarlas-->
<div class="container mt-4">
    <h2 class="mb-4">Peliculas Favoritas</h2>
    <div class="mb-4">
        <input 
          type="text" 
          class="form-control" 
          placeholder="Buscar películas..." 
          [(ngModel)]="searchTerm" 
          (ngModelChange)="filterMovies()"
        >
      </div>

    <div class="row">
      <div class="col-md-12">
        <div *ngFor="let movie of filteredFavorites" class="mb-4">
          <div class="card">
            <div class="row no-gutters">
              <div class="col-md-2">
                <img [src]="urlImgen + '/' + movie.poster_path" class="card-img" alt="{{movie.title}}">
              </div>
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title">{{movie.title}}</h5>
                  <p class="card-text">{{movie.overview}}</p>
                  <button class="btn btn-danger m-2" target="_blank" (click)="deleteFavorite(movie.id)"><i class="fa-regular fa-circle-xmark"></i> Quitar de Favoritas</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>