<!--Te permite paginar un elemento que necesite ser paginado-->
<nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage === 1" style="cursor: pointer;">
        <a class="page-link" (click)="previousPage()" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li *ngFor="let page of getPageNumbers()" class="page-item" [class.disabled]="page === -1" style="cursor: pointer;">
        <a *ngIf="page !== -1" class="page-link" (click)="goToPage(page)">{{ page }}</a>
        <span *ngIf="page === -1" class="page-link">...</span>
      </li>

      <li class="page-item" [class.disabled]="currentPage === totalPages" style="cursor: pointer;">
        <a class="page-link" (click)="nextPage()" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
</nav>